.CardDetailPage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2.5fr 1fr;
    margin: -1rem 3rem;
}

.CardDetailPage img {
    height: 45vh;
    border-radius: 5%;
}

.CardDetailPage .carousel {
    width: 20vw;
    margin: 2rem auto;
}

.CardDetailPage .card-info {
    text-align: left;
    padding: 2rem;
    grid-row: span 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.CardDetailPage .seller-info {
    border: 0.1rem solid rgb(187, 183, 183);
    border-radius: 20px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 80%;
}