.DashboardPage .info {
    width: 30vw;
}

.DashboardPage .CardListItem {
    margin: 5rem 0;
}

.DashboardPage img {
    height: 20rem;
}

.DashboardPage h1 {
    font-size: 3rem;
    margin: -5rem 0 5rem 0;
}