.CartPage {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.CartPage button {
    width: 55%;
    height: 3.5rem;
    border-radius: 30px;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.CartPage .CardListItem {
    width: 27vw;
    margin: 1rem;
}

.CartPage .CardListItem img {
    height: 15rem;
}