.CategoryList {
    margin-bottom: 3rem;
}

.CategoryList button {
    margin: 0 2rem;
}

.CategoryList label {
    margin-top: 10px;
    justify-content: center;
}

.CategoryList img {
    height: 60px;
    margin: 5px 15px;
}