.CardListItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardListItem img {
    height: 40vmin;
    margin-right: 1.5rem;
    border-radius: 10px;
}

.CardListItem .info {
    text-align: left;
    width: 200px;
}

.CardListItem h4 {
    font-weight: bolder;
}

.CardListItem h5 {
    font-style: italic;
}

.CardListItem p {
    font-weight: bold;
    font-size: 1.2rem;
}

.CardListItem .btn-success {
    background-color: rgba(231, 115, 0, 0.99);
    border: none;
}

.CardListItem .btn-success:hover {
    background-color: rgba(180, 100, 21, 0.99);
    border: none;
}