.CardListItem {
    display: flex;
    justify-content: center;
}

.DashboardPage .CardListItem .carousel img {
    height: 25rem;
}

.CardListItem img {
    height: 35vmin;
}

.HomePage .card {
    width: 30rem;
}

.HomePage .card img {
    height: 40rem;
}