.CardListItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardListItem img {
    height: 40vmin;
    margin-right: 1.5rem;
}

.CardListItem .info {
    text-align: left;
}

.CardListItem h4 {
    font-weight: bolder;
    margin: 1rem 0 1rem 1rem;
}

.CardListItem h5 {
    font-style: italic;
    margin: 1rem 0 1rem 1rem;
}