.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HomePage .CardListItem {
    width: 100%;
}

.HomePage .CardListItem img {
    height: 15rem;
    border-radius: 10px;
    margin: 2rem 2rem 2rem 0.5rem;
}